
/* HEADER */
.header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #4caf50;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -230px;
  width: 230px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #ccc;
  padding: 20px;
  transition: 0.3s;
  z-index: 200;
}

.sidebar.open {
  left: 0;
}

.sidebar .logo {
  width: 120px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #444;
  font-size: 15px;
}

.sidebar li.active {
  background: #e0e0e0;
  border-left: 4px solid #4caf50;
}

/* OVERLAY AO ABRIR MENU */
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.55);
  top: 0;
  left: 0;
  z-index: 100;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f6fc;
}

/* MENU SUPERIOR */
.navbar {
    width: 100%;
    height: 55px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 10;
}

.hamburger {
    font-size: 26px;
    cursor: pointer;
}

.logo {
    height: 35px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px 10px;
}

.image-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-image {
  width: 100%;
}

.form-area {
  flex: 1.3;
}

.titulo {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 700;
}

.input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.input:focus {
  border-color: #1d4ed8;
  box-shadow: 0 0 5px #1d4ed833;
  outline: none;
}

.select {
  height: 45px;
  color: #555;
}

.btn-enviar {
  width: 180px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  float: right;
  background: #1d4ed8;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-enviar:hover {
  background: #113a9f;
}

.iframe {
  padding: 10%;
}

@media (max-width: 850px) {
  .form-card {
    flex-direction: column;
    text-align: center;
  }

  .form-area {
    text-align: left;
  }
}

